/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap

 */

 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 @import "bootstrap";
 @import "slick-theme"; 
 @import "slick";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.notice{
	color: green;
	text-align: right;
	padding-left: 150px;
}

body {
  font-family: 'Dancing Script', cursive;
  height: 100%;
  padding-bottom: 50px;
}

html{
  height: 100%;
}

.alert{
	color: green;
	text-align: left;
	padding-left: 150px;
}

.navbar{
 background-color: black;
 margin-bottom: 0;
 }

 .navbar-header{
 color: white;
 }

.menu {
  list-style: none;
  overflow: hidden;
  background-color: black;
}

.menu li {
  width: 100px;
  text-align: center;
  float: left;
  font-size:20px;
  padding:20px 10px 0px 0px;
}
 
.menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.error-explanation{
	color: red;
}

.error-explanation ul{
	padding-left:60px;
}